<table class="table table-hover table-responsive table-striped table-bordered text-center">
                                        <thead>
                                            <tr>
                                                <td class="col-sm-1">
                                                    <button title="Desfazer" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.desfazer()">
                                                        <span class="glyphicon glyphicon-backward"></span>
                                                    </button>
                                                    <button title="Refazer" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.refazer()">
                                                        <span class="glyphicon glyphicon-forward"></span>
                                                    </button>
                                                    <button title="Negrito" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.negrito()">
                                                        <span class="glyphicon glyphicon-bold"></span>
                                                    </button>
                                                    <button title="Italico" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.italico()">
                                                        <span class="glyphicon glyphicon-italic"></span>
                                                    </button>
                                                    <button title="Sublinhado" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.sublinhado()">
                                                        <span class="glyphicon glyphicon-text-width"></span>
                                                    </button>
                                                    <button title="Alinhar Esquerda" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.alinharEsquerda()">
                                                        <span class="glyphicon glyphicon-align-left"></span>
                                                    </button>
                                                    <button title="Centralizar" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.centralizado()">
                                                        <span class="glyphicon glyphicon-align-center"></span>
                                                    </button>
                                                    <button title="Justificar" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.centralizado()">
                                                        <span class="glyphicon glyphicon-align-justify"></span>
                                                    </button>
                                                    <button title="Alinhar Direita" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.alinharDireita()">
                                                        <span class="glyphicon glyphicon-align-right"></span>
                                                    </button>
                                                    <button title="Imagem" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.imagem()">
                                                        <span class="glyphicon glyphicon-picture"></span>
                                                    </button>
                                                    <button title="Anexar Arquivo" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.anexararquivo()">
                                                        <span class="glyphicon glyphicon-file"></span>
                                                    </button>
                                                    <select class="form-nowrap" onChange="tamanho(this.options[this.selectedIndex].value)">
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11" ng-selected="true">11</option>
                                                        <option value="12">12</option>
                                                        <option value="14">14</option>
                                                        <option value="16">16</option>
                                                        <option value="18">18</option>
                                                        <option value="20">20</option>
                                                        <option value="22">22</option>
                                                        <option value="24">24</option>
                                                        <option value="26">26</option>
                                                        <option value="28">28</option>
                                                        <option value="36">36</option>
                                                        <option value="48">48</option>
                                                        <option value="72">72</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-11">
                                                    <textarea name="editor" ng-model="controller.editor" rows="14" cols="100" maxlength="1000" style="resize: none"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-1">
                                                    <button style="float:right" title="Salvar" class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true" ng-click="controller.anexararquivo()">
                                                        <span class="glyphicon glyphicon-save-file"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>